###Anti_Debug_API###
[Debugger check]
CheckRemoteDebuggerPresent
DebugActiveProcess
DebugBreak
DbgSetDebugFilterState
DbgUiDebugActiveProcess
IsDebuggerPresent
NtDebugActiveProcess
NtQueryObject
NtSetDebugFilterState
NtSystemDebugControl
OutputDebugStringA
OutputDebugStringW

[Process Check]
CreateToolhelp32Snapshot
GetWindowThreadProcessId
NtQueryInformationProcess
NtSetInformationProcess
Process32First
Process32Next
Process32FirstW
Process32NextW

[Memory Manipulation]
MapViewOfFile
UnmapViewOfFile
VirtualAlloc
VirtualAllocEx
VirtualProtect
VirtualProtectEx
NtAllocateVirtualMemory

[Write Data OnTheMemory]
WriteProcessMemory
NtWriteVirtualMemory

[MemoryRead,ProcessInspection]
NtQueryVirtualMemory
ReadProcessMemory
Toolhelp32ReadProcessMemory

[Window Name Check]
EnumThreadWindows
EnumWindows
FindWindowA
FindWindowExA
FindWindowExW
FindWindowW
GetForegroundWindow
GetWindow
GetWindowTextW
NtUserBuildHwndList
NtUserFindWindowEx
NtUserGetForegroundWindow
NtUserQueryWindow

[Mutual Exclusion]
CreateMutexA
CreateMutexW
OpenMutexA
OpenMutexW

[Analysis Environment Check]
DeviceIoControl
GetAdaptersAddresses
GetAdaptersInfo
GetComputerNameA
GetComputerNameW
GetExitCodeProcess
GetSystemInfo
GetUserNameA
GetUserNameW
NtQuerySystemInformation
SetupDiEnumDeviceInfo
SetupDiGetClassDevsA
SetupDiGetDeviceRegistryPropertyA
SetupDiGetDeviceRegistryPropertyW

[Time Check]
GetLocalTime
GetSystemTime
GetTickCount
GetTickCount64
NtDelayExecution
NtQueryPerformanceCounter
NtQuerySystemTime
NtWaitForSingleObject
QueryPerformanceCounter
SetTimer
SleepEx
sleep
timeGetTime
timeSetEvent
WaitForSingleObject
WaitForSingleObjectEx

[Thread Manipulation]
CreateThread
GetThreadContext
SetThreadContext
SuspendThread

[Thread Execute]
NtResumeThread
ResumeThread

[Thread Injection]
CreateRemoteThread

[Thread Hide Check]
NtCreateThreadEx
NtSetInformationThread

[Hardware Breakpoint Check]
NtGetContextThread
NtSetContextThread

[User Interaction Check]
BlockInput
CountClipboardFormats
GenerateConsoleCtrlEvent
GetCursorInfo
GetCursorPos
NtUserBlockInput
SwitchDesktop

[Check Invalid Close->Exception]
CloseHandle
NtClose

[Exception Handling Check]
RaiseException
SetUnhandledExceptionFilter
UnhandledExceptionFilter

###Anti_Debug_Technique###
default_search_range=80

[VM_Check]
VIRTUAL

[VBox_Check]
VirtualBox

[VMware_Check]
vmware

[VMware_I/O_port]
0x5658

[VMware_magic_value]
0x564d5868

[HeapTailMarker]
abababab

[KernelDebuggerMarker]
7ffe02d4

[DbgBreakPoint_RET]
DbgBreakPoint
0xc3

[DbgUiRemoteBreakin_Debugger_Terminate]
DbgUiRemoteBreakin
TerminateProcess

[PMCCheck_RDPMC]
RDPMC

[TimingCheck_RDTSC]
RDTSC

[Environment_TimingCheck_CPUID]
CPUID

[SkipPrefixes_INT1]
0xf3
0x64
0xf1

[INT2D_interrupt_check]
FS:[0x0]
0x2d
search_range=30

[INT3_interrupt_check]
FS:[0x0]
INT3
search_range=30

[EXCEPTION_BREAKPOINT]
FS:[0x0]
3
0x80000003

[ICE_interrupt_check]
FS:[0x0]
INT1

[DBG_PRINTEXCEPTION_C]
0x40010006

[TrapFlag_SingleStepException]
pushfd
0x100
popfd

[BeingDebugged_0x2_check]
FS:[0x30]
0x2
search_range=15

[NtGlobalFlag_check]
FS:[0x30]
0x68
0x70

[NtGlobalFlag_check_2]
0xbc
0x70

[HeapFlags]
FS:[0x30]
0x18
0x40

[HeapForceFlags]
FS:[0x30]
0x18
0x44

[Combination_of_HEAP_Flags]
0x40000060

[Combination_of_HEAP_Flags_2]
0x40000062

[ReadHeapFlags]
RtlCreateQueryDebugBuffer
RtlQueryProcessHeapInformation

[ReadHeapFlags_2]
RtlCreateQueryDebugBuffer
RtlQueryProcessDebugInformation

[DebugPrivileges_Check]
0x1fffff
OpenProcess

[CreateMutex_AlreadyExist]
CreateMutex
GetLastError
0xb7

[CreateEvent_AlreadyExist]
CreateEvent
GetLastError
0xb7

[Opened_Exclusively_Check]
0x80000000
CreateFile
search_range=20

[EXCEPTION_INVALID_HANDLE_1]
CloseHandle
0x0C0000008

[EXCEPTION_INVALID_HANDLE_2]
NtClose
0x0C0000008

[Memory_EXECUTE_READWRITE_1]
0x40
0x3000
VirtualAlloc
search_range=15

[Memory_EXECUTE_READWRITE_2]
0x40
VirtualProtect
search_range=20

[Memory_Region_Tracking]
VirtualAlloc
GetWriteWatch
search_range=250

[Check_BreakPoint_Memory_1]
Toolhelp32ReadProcessMemory
0xcc

[Check_BreakPoint_Memory_2]
0xcc
0x40
VirtualProtect

[Software_Breakpoints_Check]
NtQueryVirtualMemory
0x100
0xe0
search_range=300

[Hardware_Breakpoints_Check]
0x10010
GetCurrentThread
GetThreadContext

[Enumerate_Running_Processes]
Process32First
Process32Next
search_range=250

[NtSetInformationThread]
NtSetInformationThread

[ThreadHideFromDebugger_0x11]
NtSetInformationThread
0x11

[NtQueryInformationProcess]
NtQueryInformationProcess

[NtQueryInformationProcess_PDPort]
NtQueryInformationProcess
0x7
-0x1

[NtQueryInformationProcess_PDFlags]
NtQueryInformationProcess
0x1f

[NtQueryInformationProcess_PDObjectHandle]
NtQueryInformationProcess
0x1e

[NtQuerySystemInformation_KD_Check]
NtQuerySystemInformation
0x23

[Extract_Resource_Section]
FindResource
LoadResource

[Commucate_function_String]
http

[Commucate_function]
0x2f
0x1bb
search_range=250

[Anti-Sandbox_SandBoxie]
SbieDll.dll

[Anti-Sandbox_Buster_Sandbox_Analyzer]
ivm-inject.dll
